@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

.MainDiv {
    margin: 10px;
    font-family: 'Philosopher', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}
.weightsTable {
    height: 200px;
    width: 400px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    border-spacing: 0;
    margin: 10px 0;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
}
.weightsTable input {
    height: 35px;
    width: 50px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}
.weightsTable td {
    text-align: right;
}
.MainDiv h1 {
    font-size: 40px;
    text-align: center;
}
.weights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    align-items: center;
}
.alliances {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    align-items: center;
}
.allianceTable {
    font-size: 20px;
    border-spacing: 10px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
}
.allianceTable input {
    height: 35px;
    width: 70px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}

.picklistContainer {
    width: 650px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    margin-left: 10px;
    flex-grow: 1;
}

.picklistContainer span {
    text-align: center;
}

.picklistTable {
    flex-grow: 1;
    border-spacing: 5px 20px;
}

.picklistTable th {
    border-bottom: 2px solid black;
    font-size: 30px;
}

.picklistTable td {
    text-align: center;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
    padding: 8px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 25px;
}

.picklistTable td:first-child {
    box-shadow: none;
}

.picklistTable td:nth-child(2) {
    border: 1px solid black;
    background-color: #D4F0FF;
}

.weightsForm button {
    position: relative;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border: 1px solid green;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    font-weight: 500;
    background: linear-gradient(100deg, rgb(181, 238, 134), rgb(236, 234, 136));
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

button.recalculateIsMad {
    background: linear-gradient(100deg, rgb(238, 196, 134), rgb(236, 158, 136));
}

.picklistTableContainer {
  overflow-x: auto;
}