.commentsBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    padding-bottom: 1px;
    width: 100%;
}

.commentsBox table, .commentsBox td {
    border: 1px solid black;
    border-collapse: collapse;
}
