.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #363636;
    z-index: 10;
}

.logo {
    width: 40px;
    height: 40px;
    align-self: center;
    margin-left: 10px;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    background: #363636;
}

.pages a {
    color: #FFD900;
    text-decoration: none;
    padding: 8px;
    padding-top: calc(8px + 5px);
    font-weight: bolder;
    transition: 0.3s;
    border-bottom: 5px solid #363636;
    background: #363636;
}


.pages a:hover {
    border-bottom: 5px solid #FFD900;
}


@media (max-width: 1000px) {
    .pages a:not(:first-child) {
       display: none; 
    }
}