.subHeader {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    margin: 10px 20px;
    font-size: 30px;
    width: 200px;
}