.TextInput input {
    text-align: center;
    font-size: 25px;
    height: 40px;
    width: 130px;
    background-color: #cdf3ff;
    border-radius: 5px;
    caret-color: black;
    border: 2px solid #888484;
}

.TextInput {
    text-align: center;
}