@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

.MainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 10px; 
    text-align: center; 
    font-family: "Belleza", sans-serif;
}

.allianceBoard {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-wrap: wrap;
}

.matchNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    gap: 5px;
}

.matchNav button {
    border: 1px solid black;
    padding: 3px 15px;
    padding-bottom: 0px;
    border-radius: 5px;
    font-size: 45px;
    font-family: "Teko", sans-serif;
}

.matchNav button:hover {
    background: black !important;
    color: yellow !important;
}

.rightColumn {
    display: flex;
    width: 66%;
    padding-left: 10px;
    flex-direction: column;
}

.leftColumn {
    width: 33%;
    padding-right: 10px;
}

.twoByTwoContainer, .fourByTwoContainer {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    margin-bottom: 20px;
    padding-right: 20px;
    width: px;
}

.EPAS {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.valueBoxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.leftColumnBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.leftColumn .VBox {
    width: 200px !important;
}

.leftColumn .VBox .boxes {
    min-width: 200px !important;
}

#box {
    min-width: 200px;
}

.rightColumnBoxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;
    margin-top: 9px;
}

.rightColumnBoxesTwo {
    margin-bottom: 5px;
    margin-top: 39.5px;
    margin-left: 13px;
}

.allComments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.epaBreakdown {
    display: flex;
    flex-direction: row;
    font-size: 1;
}


.epaBreakdown div {
    text-align: center;
    flex-grow: 1;
    border: 1px solid black;
    padding: 5px;
    font-size: medium;

}

.epaBreakdown div:first-child {
    border-bottom-left-radius: 10px;
}

.epaBreakdown div:last-child {
    border-bottom-right-radius: 10px;
}

.epaBox, .Last3EpaBox {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    font-size: 30px;
    font-weight: 800;
    width: 160px;
}

.epaBox::before {
    content: "Avg EPA";
    display: block;
    position: relative;
    top: 0;
    width:80px;
    left: 50%;
    transform: translate(-50%, calc(-50% - 10px));
    border: 1px solid black;
    background: white;
    padding: auto;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: -20px;
    font-size: 19px;
    font-weight: 800;
}

.Last3EpaBox::before {
    content: "Last 3 Epa";
    display: block;
    position: relative;
    top: 0;
    width: 80px;
    left: 50%;
    transform: translate(-50%, calc(-50% - 10px));
    border: 1px solid black;
    background: white;
    padding: auto;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: -20px;
    font-size: 19px;
    font-weight: 800;
}

.EPA, .Last3EPA {
    border-radius: 10px;
}

.EPA h1, .EPA h2, .Last3EPA h1, .Last3EPA h2 {
    text-align: center;
}

.EPA h1, .Last3EPA h1 {
    font-size: 45px;
}

.scoreBreakdownContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

.graphContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-bottom: 10px;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 350px;
    font-family: "Belleza", sans-serif;
}

.graphContainer :nth-child(2) {
    margin-left: -50px;
}

.barGraphContainer {
    margin-bottom: 20px;
    border-bottom: 4px solid lightgray;
    padding: 10px;
    margin-top: -10px;
}

.topRow {
    display: flex;
    flex-direction: row;
}

.bottomRow { 
    display: flex;
    flex-direction: row;
}

.graphTitle {
    display: block;
    position: relative;
    top: 0;
    width: fit-content;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    padding: 2px;
    margin: auto;
    font-weight: 800;
    margin-top: 10px;
    background-color: #eef5ff;
    
}

.header {
    justify-content: right;
    margin-top: 15px;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    font-family: "Belleza", sans-serif; 
}

.auto {
    justify-content: left;
    padding: 10px;
    width: 100%;
    border-left: 4px solid lightgray;
    border-bottom: 4px solid lightgray;
}

.tele {
    justify-content: right;
    padding: 10px;
    width: 100%;
    border-bottom: 4px solid lightgray;
    border-left: 4px solid lightgray;
}

.endgame {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 4px solid lightgray;
    align-items: center;
}

.qualitative {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 4px solid lightgray;
    align-items: center;
}

.qualitative .graphTitle {
    transform: translateY(40px);
}

.qualitative .header {
    margin-bottom: -40px;
}

.endgame .graphTitle {
    transform: translateY(30px);
}

.endgame .header {
    margin-bottom: -30px;
}

.endgame .differentTable {
    margin-top: -33px;
}

.qualitative p {
    margin-top: -25px;
}

.radarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 400px;
}

.differentTable {
    justify-content: center;
}

.differentTable, .differentTable td {
    border: black 1px solid;
    border-collapse: collapse;
    padding: 4px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-bottom: 15px;
    margin-top: 10px;
    
}

.coralTable, .coralTable td {
    border: black 1px solid;
    border-collapse: collapse;
    padding: 4px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    
}

.alignElements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 360px;
    align-self: center;
    align-items: center;
}

.coralAndHP {
    flex-direction: column;
}

.leaveAndCoral {
    flex-direction: column;
}

.twoByTwoContainer {
    margin-left: 5px;
}

.fourByTwoContainer {
    margin-left: 4px;
}

.autoRightAlignment, .teleRightAlignment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teamInputForm {
    padding: 25px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.teamInputForm label {
    display: inline-block;
    font-size: 40px;
    font-family: "Teko", sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: -5px;
}

.teamInputForm input {
    padding: 5px;
    border: none;
    background: white;
    box-shadow: 0px 0px 5px rgba(255, 255, 0, 0.8);
}

.teamInputForm button {
    padding: 10px;
    min-width: 30%;
    background: linear-gradient(70deg, rgb(255, 242, 142), rgb(129, 216, 136));
    font-size: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    margin: 10px;
}

@media screen and (max-width: 1150px) {
    .MainDiv {
        flex: wrap;
        flex-direction: column;
        margin: 0px;
    }

    .topRow, .bottomRow {
        flex: wrap;
        flex-direction: column;
    }
    .scoreBreakdownContainer {
        margin-bottom: 0px;
    }
    .leftColumn, .rightColumn {
        width: 100%;
        padding: 0;
    }
    .leftColumn {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 4px solid lightgray;
    }
    .auto, .tele {
        border: 0px solid white;
        padding: 0;
        margin-bottom: 10px;
        padding-bottom: 20px;
        border-bottom: 4px solid lightgray;
    }

    .endgame {
        margin-bottom: 10px;
        padding-bottom: 20px;
        border-bottom: 4px solid lightgray;
        border-left: white;
    }

    .qualitative {
        border-left: white;
    }

    .graphContainer {
        width: 325px;
        margin: 10px auto;
    }}